body{
	background-color: darkturquoise;
}
h1{
font-size: 30px;
color: salmon;
}

h2{
color: red;
font-size: 20px;
}

.big{
font-size: 70px;
}

.uppercase{
text-transform: uppercase;
}

.uppercase.big{
color: navy;
}